.credButton{
    width: 100%;
}
@media (min-width: 576px) {
    .credButton{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .credButton{
        width: auto;
    }
}

@media (min-width: 992px) { 
    .credButton{
        width: auto;
    }
}

@media (min-width: 1200px) { 
    
}